.works {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Fjalla One", sans-serif;
}

@media screen and (min-width: 768px) {
  .works {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 6rem;
  }

  .work-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .works {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 4rem;
  }

  .work-lists {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
