.footer .icons {
  display: flex;
  justify-content: center;
}
.footer .icon {
  font-size: 1.7rem;
  margin: 0 2rem;
  color: white;
}
.footer .copyRight {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
  font-size: 0.8rem;
  margin: 2rem 0;
}

@media screen and (min-width: 768px) {
  .footer .icon {
    font-size: 2rem;
    margin: 0 3rem;
  }
  .footer .copyRight {
    font-size: 1.2rem;
    margin: 3rem 0 1rem;
  }
}
