.github-calendar {
  display: none;
}

@media screen and (min-width: 768px) {
  .github-calendar {
    display: block;
    margin: 6rem 0;
    font-family: "Fjalla One", sans-serif;
  }
  .github-calendar h2 {
    text-align: center;
    color: rgb(190, 190, 190);
    font-size: 1.8rem;
  }

  .github-calendar .calendar {
    width: 90vw;
    max-width: 1300px;
    height: auto;
    border: none;
  }

  .calender .position-relative {
    background-color: black;
  }

  .position-relative .text-gray {
    color: rgb(190, 190, 190);
  }

  .text-gray a {
    color: cornflowerblue;
  }

  .github-calendar .table-column {
    background: black;
    border: none;
  }
  .table-column span {
    color: rgb(190, 190, 190);
    font-family: "Rubik", sans-serif;
  }
}

@media screen and (min-width: 1024px) {
  .contrib-footer {
    margin-top: 4vw;
    margin-left: 2.34vw;
    margin-right: 2.34vw;
  }
}
@media screen and (min-width: 1200px) {
  .github-calendar .calendar {
    width: 80vw;
  }
  .contrib-footer {
    margin-top: 6vw;
    max-width: 1300px;
  }
}
