.tech-mobile {
  margin: 3rem 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Fjalla One", sans-serif;
}
@media screen and (min-width: 768px) {
  .tech-mobile {
    display: none;
  }
}
