.abouts {
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.abouts h3 {
  letter-spacing: 1px;

  margin-top: 3rem;
  margin-bottom: 0rem;
}
.abouts p {
  font-weight: normal;
  margin: 0.5rem 0;
  letter-spacing: 1px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .abouts {
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 1200px) {
  .abouts {
    margin-bottom: 8rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .descs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 4rem;
  }
  .about-me-desc2 {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 1500px) {
  .abouts {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }

  .descs {
    gap: 1rem 8rem;
  }
}
